langchain==0.0.292
openai==0.27.7
pydantic==1.10.8
python-telegram-bot==20.3
PyYAML==6.0
SQLAlchemy==2.0.16
psycopg2-binary==2.9.6
chromadb==0.3.25
tiktoken==0.4.0
sqlalchemy_utils==0.41.1
boto3==1.26.155
boto3_stubs==1.26.142
mypy_boto3_s3==1.26.127
asyncpg==0.27.0
greenlet==2.0.2
alembic==1.11.1