langchain==0.0.181
openai==0.27.8
pydantic==1.10.9
python-telegram-bot==20.3
PyYAML==6.0
SQLAlchemy==2.0.16
psycopg2-binary==2.9.6
chromadb==0.3.26
tiktoken==0.4.0
sqlalchemy_utils==0.41.1
boto3==1.26.155
boto3_stubs==1.26.155
mypy_boto3_s3==1.26.127
asyncpg==0.27.0