[openai]
ApiKey = awdawdawedawxiueynm8327x
ChoicesOneRequest = 3
MaxAnswerTokens = 300
TestMode = False
RequestTimeoutSeconds = 300 
LimitRetries = 5
RetriesTimeoutSeconds = 30
AiModel = gpt-3.5-turbo
AiModelType = chat

[db]
Host = localhost
Database = database
User = user
Password = password
Port = 5432

[db_scheme]
UseWeakForeignKeys = False
WeakForeignKeysThreshold = 0.5

[telegram]
Token = 182736192837:akwbdnlkauwbh27y82313

[corrections_db]
Host = localhost
Database = database
User = postgres
Password = postgres
Port = 5432

[corrections]
Limit = 2

[drawing]
TestMode = False